DJANGO_SECRET_KEY=your-django-secret-key-here
DEBUG_MODE=True
CSRF_TRUSTED_ORIGINS=
ALLOWED_HOSTS=

WEB_PORT=8000

DEBUG_MODE=True

POSTGRES_DB=budgetmaker
POSTGRES_USER=budgetmaker
POSTGRES_PASSWORD=enter-strong-password-here
POSTGRES_HOST=db
POSTGRES_PORT=5432
