{% extends 'base.html' %}

{% block title %}{{ budget.start_date }}{% endblock %}
{% block navbar_title %}
  <a href="/budgets/{{ previous.id }}" class="btn btn-xs btn-primary btn-soft" {% if not previous %}disabled="disabled"{% endif %}>&larr; Previous</a>
  Budget for {{ budget.start_date }} -> {{ budget.end_date }}
  <a href="/budgets/{{ next.id }}" class="btn btn-xs btn-primary btn-soft" {% if not next %}disabled="disabled"{% endif %}>Next &rarr;</a>
{% endblock %}

{% block navbar_actions %}
  <a href="{% url 'add-cost-allocation' budget.id %}" class="btn btn-primary btn-sm">
    Add one-off cost
  </a>
  <a href="{% url 'populate-costs' budget.id %}" class="btn btn-primary btn-sm mr-8">
    Populate from costs
  </a>
{% endblock %}

{% block content %}

  <h2 class="text-2xl font-bold">Allocations</h2>
  {% include "budget/partials/_income_budget_container.html" with allocations=allocated_income type="income" %}
  {% include "budget/partials/_cost_budget_container.html" with type="cost" %}

  <div class="divider"></div>
  <div class="card w-96 bg-primary/20 card-md shadow-sm">
    <div class="card-body">
      <h2 class="card-title">Budget Balance:</h2>
      <p class="text-2xl {% if budget.balance > 0 %}text-success{% elif budget.balance == 0 %}text-info{% else %}text-error{% endif %}">${{ budget.balance|floatformat:2 }}</p>
      <div class="justify-end card-actions">
        <button class="btn btn-primary">Complete Budget</button>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  {% include "budget/partials/matching-transactions-container.html" %}

  <dialog id="allocation_modal" class="modal">
    <div id="modal_container" class="modal-box w-11/12 max-w-3xl">
    <!-- HTMX injects content here -->
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
  </dialog>
{% endblock content %}

