{% extends 'base.html' %}
{% load l10n %}

{% block title %}{{ budget.start_date }}{% endblock %}
{% block navbar_title %}
  <a href="/budgets/{{ previous.id|unlocalize }}" class="btn btn-xs btn-primary btn-soft" {% if not previous %}disabled="disabled"{% endif %}>&larr; Previous</a>
  Budget for {{ budget.start_date }} -> {{ budget.end_date }}
  <a href="/budgets/{{ next.id|unlocalize }}" class="btn btn-xs btn-primary btn-soft" {% if not next %}disabled="disabled"{% endif %}>Next &rarr;</a>
{% endblock %}

{% block navbar_actions %}
  <a href="{% url 'add-cost-allocation' budget.id|unlocalize %}" class="btn btn-primary btn-sm">
    Add one-off cost
  </a>
  <a href="{% url 'populate-costs' budget.id|unlocalize %}" class="btn btn-primary btn-sm mr-8">
    Populate from costs
  </a>
{% endblock %}

{% block content %}
  <div class="max-w-6xl mx-auto p-4">
    <div class="relative w-full">
      <progress class="h-[32px] progress progress-primary w-full" value="{{ current_position }}" max="{{ budget_length }}"></progress>
      <div class="absolute font-bold inset-0 flex -top-2 items-center justify-center text-white text-xs">
        <p class="text-center">{% if complete %}Complete{% elif current_position < 0 %}{% else %}Day {{ current_position }} of {{ budget_length }}{% endif %}</p>
      </div>
    </div>
    <h2 class="text-2xl font-bold">Allocations</h2>
    {% include "budget/partials/_income_budget_container.html" with allocations=allocated_income type="income" %}
    {% include "budget/partials/_cost_budget_container.html" with type="cost" %}

    <div class="divider"></div>
    {% include "budget/partials/_bucket_carousel.html" %}
    <div class="card w-96 bg-primary/20 card-md shadow-sm">
      <div class="card-body">
        <h2 class="card-title">Budget Balance:</h2>
        <p class="text-2xl {% if budget.balance > 0 %}text-success{% elif budget.balance == 0 %}text-info{% else %}text-error{% endif %}">${{ budget.balance|floatformat:2 }}</p>
        <div class="justify-end card-actions">
          <button class="btn btn-primary">Complete Budget</button>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    {% include "budget/partials/_matching_transactions_container.html" %}

    <dialog id="allocation_modal" class="modal">
      <div id="modal_container" class="modal-box w-11/12 max-w-3xl">
    <!-- HTMX injects content here -->
      </div>
      <form method="dialog" class="modal-backdrop">
        <button>close</button>
      </form>
    </dialog>
  </div>
{% endblock content %}

