{% extends 'base.html' %}

{% block title %}{{ budget.start_date }}{% endblock %}
{% block navbar_title %}
  <a href="/budgets/{{ previous.id }}" class="btn btn-xs btn-primary btn-soft" {% if not previous %}disabled="disabled"{% endif %}>&larr; Previous</a>
  Budget for {{ budget.start_date }} -> {{ budget.end_date }}
  <a href="/budgets/{{ next.id }}" class="btn btn-xs btn-primary btn-soft" {% if not next %}disabled="disabled"{% endif %}>Next &rarr;</a>
{% endblock %}

{% block navbar_actions %}
  <a href="{% url 'add-cost-allocation' budget.id %}" class="btn btn-primary btn-sm">
    Add one-off cost
  </a>
  <a href="{% url 'populate-costs' budget.id %}" class="btn btn-primary btn-sm mr-8">
    Populate from costs
  </a>
{% endblock %}

{% block content %}

  {% include "budget/partials/budget-container.html" %}
  {% include "budget/partials/matching-transactions-container.html" %}

  <dialog id="allocation_modal" class="modal">
    <div id="modal_container" class="modal-box w-11/12 max-w-3xl">
    <!-- HTMX injects content here -->
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
  </dialog>
{% endblock content %}

