{% extends 'base.html' %}

{% block title %}Budgets{% endblock %}
{% block navbar_title %}Budgets{% endblock %}

{% block navbar_actions %}
  {% if budget_periods %}
    <a href="{% url 'generate-budget' %}" class="btn btn-primary btn-sm mr-8">
      + Generate next Budget
    </a>
  {% else %}
    <a href="{% url 'generate-budget' %}" class="btn btn-primary btn-sm mr-8">
      + Create first Budget
    </a>
  {% endif %}
{% endblock %}

{% block content %}

  {% include "budget/partials/budget-list-container.html" %}

{% endblock content %}

