@import "tailwindcss";
@plugin "daisyui" {
  themes: all
}
@plugin "@tailwindcss/typography";

@keyframes flash-green {
  0% { background-color: rgba(34, 197, 94, 0.5); }
  100% { background-color: transparent; }
}

.animate-flash-green {
  animation: flash-green 1s ease-out !important;
}

.apexcharts-yaxis-annotations {
  overflow: visible;
}
svg {
  overflow: visible;
}

#cashflow-chart .apexcharts-yaxis-label:not(:first-child):not(:last-child) {
  display: none;
}
#cashflow-chart .apexcharts-yaxis-label.show-label {
  display: inline !important;
}

.apexcharts-pie-series path.apexcharts-pie-area {
  stroke: var(--color-base-200);
}

.apexcharts-annotation-rect {
  fill: var(--fallback-bc, currentColor) !important;
  opacity: 0.08 !important;
}
