@import "tailwindcss";
@plugin "daisyui";
@plugin "@tailwindcss/typography";

@keyframes flash-green-final {
  0% { background-color: #22c55e; }
  100% { background-color: transparent; }
}

.animate-flash-last-stand {
  animation: flash-green-final 2s ease-out !important;
}
