<div class="flex flex-col-reverse" id="transactions-container">

    <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100 m-5">
        {% if filter.qs %}

            <table class="table">
                <thead class="text-xs uppercase">
                    <tr>
                        <th class="px-6 py-3">Date</th>
                        <th class="px-6 py-3">Vendor</th>
                        <th class="px-6 py-3">Purchase Type</th>
                        <th class="px-6 py-3">Credit</th>
                        <th class="px-6 py-3">Debit</th>
                        <th class="px-6 py-3">Balance</th>
                    </tr>
                </thead>

                <tbody>
                    {% for transaction in filter.qs %}
                        <tr class="hover:sky-950">
                            <td>{{ transaction.date }}</td>
                            <td>{{ transaction.vendor }}</td>
                            <td>{{ transaction.purchase_type }}</td>
                            <td>${{ transaction.credit|default_if_none:"-" }}</td>
                            <td>${{ transaction.debit|default_if_none:"-" }}</td>
                            <td>${{ transaction.balance }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        {% else %}

            <p class="text-2xl">
                No transactions found
            </p>
        {% endif %}
    </div>
</div>
