{% load static %}
<div class="card flex-1 basis-0 min-w-70 shrink bg-base-200 border border-base-300 shadow-md">
  <div class="card-body">
    <div class="flex items-center justify-between">
      <h2 class="card-title">Category Spends</h2>
      <div class="card-actions">
        {% include "partials/_forecast_toggle_button.html" %}
      </div>
    </div>
    <div id="category-pie-chart-wrapper">
      {% include "partials/_category_pie_chart.html" %}
    </div>
  </div>
</div>
<script src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></script>
