<div class="card min-w-80 max-w-92 grow bg-base-200 card-md shadow-sm mb-5">
  <div class="card-body p-4 ps-8">
    <h2 class="card-title">{{ title }}</h2>
    <p class="card-content">Average: ${{ average|floatformat:2 }}</p>
    <div id="chart-{{ chart_id }}"></div>
  </div>
</div>
<script>
  renderChart(
    "{{ chart_id }}",
    "{{ color }}",
    "{{ title }}",
    {{ amounts|safe }},
    {{ dates|safe }},
    {{ budgeted_amount|safe }},
    {{ request.session.privacy_mode|yesno:"true,false" }}
  );
</script>
