<div class="card bg-primary/20 w-80 bg-base-100 card-md shadow-sm">
  <div class="card-body">
    <h2 class="card-title">Whats Left</h2>
    <p class="text-xl flex justify-between">
      Per Year:
      <span class="{% if total_savings_yearly > 0 %}text-success{% elif total_savings_yearly == 0 %}text-info{% else %}text-error{% endif %}">${{ total_savings_yearly|floatformat:2 }}</span>
    </p>
    <p class="text-xl flex justify-between">
      Per Month:
      <span class="{% if total_savings_monthly > 0 %}text-success{% elif total_savings_monthly == 0 %}text-info{% else %}text-error{% endif %}">${{ total_savings_monthly|floatformat:2 }}</span>
    </p>
    <p class="text-xl flex justify-between">
      Per Budget:
      <span class="{% if total_savings_per_budget > 0 %}text-success{% elif total_savings_per_budget == 0 %}text-info{% else %}text-error{% endif %}">${{ total_savings_per_budget|floatformat:2 }}</span>
    </p>
    <p class="text-xl flex justify-between">
      Per Week:
      <span class="{% if total_savings_per_week > 0 %}text-success{% elif total_savings_per_week == 0 %}text-info{% else %}text-error{% endif %}">${{ total_savings_per_week|floatformat:2 }}</span>
    </p>
  </div>
</div>
