<div class="p-10 max-w-lg mx-auto">
  <form action="{% url 'core:set-preferences' %}" method="post" class="space-y-4">
    {% csrf_token %}

    <fieldset class="fieldset w-max-500 bg-base-200 border border-base-300 p-4 rounded-box overflow-visible">
      <legend class="fieldset-legend text-l">User Preferences</legend>

      <div class="form-control relative z-10">
        <label class="fieldset-label">Budget Frequency</label>
        <div class="flex items-center gap-2">
          <span class="text-sm font-medium whitespace-nowrap">Every</span>
          {{ form.frequency_value }}
          {{ form.frequency_unit }}
        </div>
        {% if form.frequency_value.errors %}
          <p class="text-error text-xs">{{ form.frequency_value.errors.0 }}</p>
        {% endif %}
        {% if form.frequency_unit.errors %}
          <p class="text-error text-xs">{{ form.frequency_unit.errors.0 }}</p>
        {% endif %}
      </div>

      <div class="form-control relative z-10">
        <label class="fieldset-label w-full">
          {{ form.first_budget_date.label }}
          {% if form.first_budget_date.field.required %}<span class="text-error">*</span>{% endif %}
        </label>
        {{ form.first_budget_date }}
        {% if form.first_budget_date.help_text %}
          <p class="fieldset-label text-xs opacity-50">{{ form.first_budget_date.help_text }}</p>
        {% endif %}
        {% if form.first_budget_date.errors %}
          <p class="text-error text-xs">{{ form.first_budget_date.errors.0 }}</p>
        {% endif %}
      </div>

      <button type="submit" class="btn btn-primary mt-4">Set Preferences</button>
    </fieldset>
  </form>
</div>
