{% extends 'base.html' %}

{% block title %}Transactions{% endblock %}
{% block navbar_title %}Transactions{% endblock %}

{% block navbar_actions %}
  <form action="{% url 'upload-csv' %}" method="post" enctype="multipart/form-data" id="csv-form">
    {% csrf_token %}
    <label class="btn btn-primary btn-sm font-bold mr-8">
      <span>+ Upload transactions .csv</span>
      <input
        type="file"
        name="csv_file"
        class="hidden"
        accept=".csv"
        onchange="document.getElementById('csv-form').submit();"
      >
    </label>
  </form>
{% endblock %}

{% block content %}

  {% include "transaction/partials/_table.html" %}

  <div class="pagination flex my-2">
    <span class="mx-auto p-2 rounded-md bg-primary/30">
      {% if transactions.has_previous %}
        <a class="btn my-auto" href="?page=1">&laquo; first</a>
        <a class="btn my-auto" href="?page={{ transactions.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current mx-5 my-2">
        Page {{ transactions.number }} of {{ transactions.paginator.num_pages }}
      </span>

      {% if transactions.has_next %}
        <a class="btn my-auto" href="?page={{ transactions.next_page_number }}">next</a>
        <a class="btn my-auto" href="?page={{ transactions.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>

{% endblock content %}
