{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}
{% block navbar_title %}Dashboard{% endblock %}

{% block navbar_actions %}
  <div class="join mx-2">
    <a href="{% url 'core:select-graph-period' 90 %}" class="join-item btn btn-soft {% if request.session.graph_period == 90 %}btn-primary{% endif %} btn-sm">3 Months</a>
    <a href="{% url 'core:select-graph-period' 183 %}" class="join-item btn btn-soft {% if request.session.graph_period == 183 %}btn-primary{% endif %} btn-sm">6 Months</a>
    <a href="{% url 'core:select-graph-period' 365 %}" class="join-item btn btn-soft {% if request.session.graph_period == 365 %}btn-primary{% endif %} btn-sm">1 Year</a>
  </div>
  {% if view_type == 'categories' %}
    <a href="{% url 'core:chosen-dashboard' 'costs' %}" class="btn btn-primary btn-sm mr-2 md:mr-8">
      view by cost
    </a>
  {% elif view_type == "costs" %}
    <a href="{% url 'core:chosen-dashboard' 'categories' %}" class="btn btn-primary btn-sm mr-2 md:mr-8">
      view by category
    </a>
  {% endif %}
{% endblock %}

{% block content %}
  <script src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'js/cashflow_chart.js' %}"></script>
  <script src="{% static 'js/spent_chart.js' %}"></script>
  <div class="flex flex-wrap max-w-6xl mx-auto gap-8 mb-8">

    {% include "partials/_totals_card.html" with title="Cost Totals" item=cost_totals red=True %}
    {% include "partials/_totals_card.html" with title="Income Totals" item=income_totals %}
    {% include "partials/_totals_card.html" with title="What's Left" item=savings_totals %}

  </div>
  <div class="max-w-6xl mx-auto gap-8 mb-8">
    {% if income_dates %}
      {% include "partials/_cashflow_graph.html" %}
    {% endif %}
  </div>
  <div class="flex flex-wrap max-w-6xl mx-auto gap-8">
    {% for chart in charts %}
      {% include "partials/_mini_graph.html" %}
    {% endfor %}
  </div>
  <script src="{% static 'js/render_mini_charts.js' %}"></script>
{% endblock content %}
