{% load l10n %}
<div class="carousel h-48 w-full">
  <!-- To loop through all bucket items displaying a card for each -->
  {% if buckets %}
    {% for bucket in buckets %}
      {% include "budget/partials/_bucket_card.html" %}
    {% endfor %}
  {% endif %}
  <div class="carousel-item w-64 mb-5 mr-4">
    <div class="stats w-full border border-base-300 bg-base-200 shadow-sm">
      <div class="stat">
        <h2 class="stat-title">Create a Bucket</h2>
        <p class="stat-desc text-wrap">Buckets allow you to move spare money around or handle over spending</p>
        <div class="stat-actions">
          <a href="{% url 'add-bucket' budget.id|unlocalize %}" class="btn btn-primary btn-soft btn-sm w-25">Create bucket</a>
        </div>
      </div>
    </div>
  </div>
</div>
