{% load l10n %}
<div class="carousel-item w-64 mb-5 mr-5">
  <div class="stats border border-base-300 bg-base-200 card-md shadow-sm">
    <div class="stat">
      <h2 class="stat-title">{{ bucket.name }} Bucket</h2>
      <p class="stat-value {% if bucket.balance > 0 %}text-success{% elif bucket.balance == 0 %}text-info{% else %}text-error{% endif %}">${{ bucket.balance|floatformat:2 }}</p>
      <div class="stat-actions">
        <button
          class="btn btn-sm btn-primary btn-soft w-25"
          hx-get="{% url 'empty-bucket' budget.id|unlocalize bucket.id|unlocalize %}"
          hx-target="#modal_container"
          onclick="transaction_picker_modal.showModal()">
          Empty Bucket
        </button>
        <a href="{% url 'fill-bucket' budget.id|unlocalize bucket.id|unlocalize %}" class="btn btn-sm btn-primary btn-soft w-25">Fill Bucket</a>
      </div>
    </div>
  </div>
</div>
