{% load l10n %}
<div class="overflow-x-auto rounded-lg border border-base-300">
  <table class="table w-full">
    {% if budget_periods %}
      <thead class="bg-base-200 text-base-content">
        <tr>
          <th class="px-4 py-2">Date Range</th>
          <th class="px-4 py-2">Total Costs</th>
          <th class="px-4 py-2">Total Spent</th>
          <th class="px-4 py-2">Total Income</th>
          <th class="px-4 py-2"></th>
        </tr>
      </thead>

      <tbody>
        {% for budget in budget_periods %}
          {% if budget.id == current_budget.id %}
            <tr class="bg-accent-content hover:bg-accent-content/50">
          {% else %}
            <tr class="hover:bg-base-300">
          {% endif %}
          <td>{{ budget.start_date }} - {{ budget.end_date }}</td>
          <td>${{ budget.get_total_costs|floatformat:2 }}</td>
          <td class="text-error">${{ budget.annotated_spend|floatformat:2 }}</td>
          <td class="text-success">${{ budget.annotated_income|floatformat:2 }}</td>
          <td class="py-3 h-px">
            <div class="grid grid-cols-2 gap-2 relative z-20 content-center items-center">
              <a class="btn btn-sm btn-soft" href="/budgets/{{ budget.id|unlocalize }}">View</a>
              <form class="m-0" action="{% url 'delete-budget' budget.pk %}" method="post" onsubmit="return confirm('Are you sure?')">
                {% csrf_token %}
                <button type="submit" class="btn btn-sm btn-soft btn-error cursor-pointer w-full">
                  Delete
                </button>
              </form>
            </div>
          </td>
          </tr>
        {% endfor %}
      </tbody>
    {% else %}
      <tbody>
        <tr>
          <td class="text-center py-4">No budgets found</td>
        </tr>
      </tbody>
    {% endif %}
  </table>

</div>
