<form hx-post="{% url 'save_allocations' allocation_type allocation.id %}" hx-target="#modal_container">
  {% csrf_token %}
  <h3 class="font-bold text-lg mb-4">Link Transactions to {{ allocation.name }}</h3>
  {% include "transaction/partials/_selectable_table.html" with transactions=eligible_transactions hide_footer=True %}
  <div class="modal-action w-full flex">
    <input type="checkbox" class="checkbox chackbox-xs checkbox-accent" name="update_amount"/>
    <p class="mr-auto">Update Allocated amount</p>
    <button type="submit" class="btn btn-primary">Link Selected</button>
    <button type="button" class="btn" onclick="allocation_modal.close()">Cancel</button>
  </div>
</form>
