<div class="flex flex-col-reverse" id="budget-container">

    <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100 m-5">
            <table class="table">
                <thead class="text-xs uppercase">
                    <tr>
                        <th class="px-6 py-3">Item</th>
                        <th class="px-6 py-3">Cost</th>
                        <th class="px-6 py-3">Paid</th>
                        <th class="px-6 py-3">Outstanding</th>
                    </tr>
                </thead>

                <tbody>
                  {% for cost in budget.costs %}
                        <tr class="hover:sky-950">
                            <td>{{ cost.name }}</td>
                            <td>${{ cost.amount }}</td>
                            <td><input type="number" placeholder="Type here" class="input
                              input-sm" /></td>
                            <td>{{ cost.name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
</div>
