<div class="overflow-show rounded-lg border border-base-300" id="costs-container">
  {% if costs %}

    <table class="table">
      <thead class="bg-base-200 text-base-content">
        <tr>
          <th class="px-6 py-3">Cost</th>
          <th class="px-6 py-3">Category</th>
          <th class="px-6 py-3">Frequency</th>
          <th class="px-6 py-3">Amount</th>
          <th class="px-6 py-3"></th>
        </tr>
      </thead>

      <tbody>
        {% for cost in costs %}
          <tr class="hover:bg-base-300 {% if request.GET.updated == cost.id|slugify %}animate-flash-green{% endif %}">
            <td>{{ cost.name }}</td>
            <td>{{ cost.category }}</td>
            <td>{{ cost.frequency_string }}</td>
            <td>${{ cost.amount }}</td>
            <td>
              <div class="dropdown">
                <div tabindex="0" role="button" class="btn btn-sm">Actions</div>
                <ul tabindex="-1" class="dropdown-content menu bg-base-100 rounded-box z-1 w-42 p-2 shadow-sm">
                  <li>
                    <form action="{% url 'delete-cost' cost.pk %}" method="post" onsubmit="return confirm('Are you sure?')">
                      {% csrf_token %}
                      <button type="submit" class="text-error cursor-pointer">
                        Delete cost
                      </button>
                    </form>
                  </li>
                  <li>
                    <a href="{% url 'edit-cost' cost.pk %}" class="flex justify-between items-center hover:text-primary">
                      Edit
                    </a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  {% else %}

    <p class="text-2xl">
      No costs found
    </p>
  {% endif %}
</div>
